.About {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-decoration: underline;
}

p {
    font-weight: normal;
    width: 70%;
    margin:auto;
    line-height: 1.8em;
    
}
